*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'PT Sans', sans-serif;
}

body {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.game-pic{
	text-align: center;
}

.game1 {
	height: 700px;
	width: 1400px;
	object-fit: cover;
}

.intro {
	padding: 2em;
	text-align: center;
}

.second_heading{
	font-size: 1.5em;
	text-align: center;
}

.jpg{
	width: 300px;
	height: 300px;
	object-fit: cover;
}

.tile{
	margin: 1em;
}
.tile:hover {
	color: red;
}

.text{
	text-align: center;
}
.wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex center;
}
.acount{
	text-align: right;
}

.title{
	font-size: 25px;
}

.footer{
	text-align: center;
}

.footer-img{
	height: 50px;
	width: 50px;
	object-fit: cover;
}

.footer-img:hover{
	
}